@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 20px;
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', Lucida Grande, sans-serif;
}

html,
body {
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.otro-blockquote {
  font-size: 1em;
  width:95%;
  margin:30px auto;
  font-style:italic;
  color: #555;
  padding:1.2em 26px 1.2em 54px;
  border-left:8px solid #5143ea ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before {
  font-family:Arial;
  content: "\201C";
  color:#5143ea;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after {
  content: '';
}

.otro-blockquote span {
  display:block;
  color:#444;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}