.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.75rem;
  grid-auto-flow: row;
  justify-items: center;
  font-size: 1rem;
}

.team h1 {
  font-size: 2.2em;
  margin: 0;
}

.team img.avatar {
  max-width: 22em;
  border-radius: 50%;
}

.team img:not(.avatar) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.team blockquote {
  margin-top: 1rem;
  margin-left: 0;
  border-left: 4px solid hsl(247, 91%, 67%);
  padding-left: 1em;
  font-size: 1rem;
  line-height: 1.4em;
  text-transform: capitalize;
}

blockquote p + blockquote p {
  margin-top: 0.6rem;
}

.separator {
  width: 100%;
}