.teamMember__avatar {
  border-radius: 50%;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

h2.teamMember__title {
  margin-top: 0.25em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 3em;
}