// Rename this file to .env

DEBUG=true
FROM="SenderEmail <email@gmail.com>"
EMAIL_KENSINGTON="RecipientEmail <email@gmail.com>"
EMAIL_HACKNEY="RecipientEmail <email@gmail.com>"
SUBJECT="Test Email"
NODE_ENV=development
CLIENT_URL=https://your.client.website.com
