.Team {
  & .title {
    text-align: center;

    & .sub-title {
      font-weight: 500;
    }

    & h2 {
      margin-top: 0;
      font-size: 2.5rem;
    }
  }

  & .TeamList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 3rem 2.2rem;
  }
}
