.ContactUs {
  padding: 1.25rem 0;

  & form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0em;
    border-radius: 8px;
    background-color: var(--white-light);

    @media all and (min-width: 600px) {
      padding: 1.5em;
      box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.16);
    }
  }

  & .form-group + .form-group {
    margin-top: 1rem;
  }

  & input,
  & textarea,
  & select {
    display: inline-block;
    margin: 0em;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
    color: initial;
    font-size: 1.1rem;
  }

  & input,
  & select {
    height: 2.8rem;
  }

  & input,
  & textarea,
  & select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    border: 2px solid rgba(10, 30, 35, 0.1);
    border-radius: 3px;
    background: var(--white-light);
    color: var(--black);
    font-weight: 400;
    line-height: 1.7rem;
    padding: 0.4rem 0.5rem;
    outline-color: var(--primary);
    transition: outline 0.2s ease-out;
  }

  & .button {
    align-self: flex-end;
  }
}
