.CookiePolicy {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  opacity: 1;
  transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;

  &.fade-out {
    opacity: 0;
  }

  @media screen and (min-width: 600px) {
    left: 30px;
    width: 0;
    bottom: 80px;
    right: initial;
  }
}

.CookiePolicy__notification {
  position: static;
  width: calc(100% - 20px);
  margin-top: 20px;
  opacity: 1;
  z-index: 500;

  @media screen and (min-width: 600px) {
    width: 400px;
  }
}

.CookiePolicy__notification__content {
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  color: var(--black);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: var(--white-light);

  & p.CookiePolicy__copy {
    position: relative;
    padding-left: 1.8rem;
    font-size: 0.8rem;
    text-align: left;

    &:before {
      position: absolute;
      display: block;
      left: 0;
      top: 3px;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background-color: var(--primary-2);
      color: var(--white-light);
      content: 'i';
      line-height: 1.1rem;
      text-align: center;
      font-weight: 600;
    }
  }
}

.CookiePolicy__notification__content__copy {
  & .actions {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }
}
