main {
  position: relative;
}

a,
a:visited {
  color: var(--secondary);
}
a:hover {
  color: var(--primary-1);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

h2.title + p.sub-title {
  margin-top: -3rem;
  margin-bottom: 2rem;

  @media all and (min-width: 600px) {
    margin-top: -4rem;
  }
}

h2.title {
  text-align: center;
  font-size: 1.33rem;
  line-height: 3rem;
  text-transform: capitalize;
  margin: 1.4rem 0 2em;
  color: var(--primary-2);

  @media all and (min-width: 600px) {
    font-size: 2rem;
  }
}

h3.title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-1);
}

p.sub-title {
  text-align: center;
  font-size: 1rem;

  color: var(--primary);
}

p + p {
  margin-top: 1.25em;
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 0 1.2em;
  margin: 0 auto;
  display: block;
}

.App,
.Home__content {
  background-color: var(--white-light);
}

.Home__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 750ms ease-in;
  will-change: opacity;
}

.ready .Home__content {
  opacity: 1;
  height: initial;
}
